.formFicha {
    display: flex;
    justify-content: space-between;
}

.formulario {
    width: 50%;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.formulario div {
    width: 40%;
}

.formulario select {
    width: 90%;
}


.cerrarModal {
    display: flex;
}
