.principal {
    background-image: url("./../Assets/background/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
#navbarNavDropdown {
    justify-content: flex-end;
    margin-right: 2%;
}

.nav-divider {
    width: 1px;
    height: 20px; 
    background-color: #000; 
    margin: 0 30px; 
}
